.signUpContainer {
  display: grid;
  place-items: center;
  height: 100%;

  .signUpForm {
    width: 35em;
    display: grid;
    gap: 2em;
    background-color: #25262b;
    padding: 2em;
    border-radius: 1em;

    .signUpText {
      font-size: 2.5em;
      font-weight: bold;
      text-align: center;
    }

    .signUpLogin {
      font-size: 1.2em;
      a {
        color: #1c7ed6;
        text-decoration: none;
      }
    }
  }
}
