.searchBar {
  background-color: #d6d6d6;
  width: 80rem;
  height: 4rem;
  border-radius: 2rem;
  margin-top: 9rem;
  margin-left: 20rem;
  &[type="text"] {
    font-size: 24px;
    padding: 0.3rem 3rem;
    border-radius: 3rem;
  }
}

.searchBar::-webkit-input-placeholder {
  font-size: 2.5rem;
  border-radius: 3rem;
}

.headerButtons {
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
  margin-left: 20rem;
  gap: 2rem;
}

.buttons {
  background-color: black;
  color: white;
  border-radius: 3rem;
  font-size: 2.5rem;
  height: 5rem;
  width: 11rem;
}

.postContainer {
  margin-top: 3rem;
  width: 86rem;
  & .post:nth-child(1) {
    border-width: 1px 1px 1px 1px;
  }
}

.postInfo {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  font-size: 1.5rem;
}

.post {
  height: 9rem;
  width: 86rem;
  margin-left: 20rem;
  padding: 1rem;
  color: white;
  border: white solid;
  border-width: 0px 1px 1px 1px;
}

.postText {
  font-size: 1.5rem;
  padding-top: 1.5rem;
}

.newPost {
  cursor: pointer;
}
