.newsContainer {
  display: grid;
  place-items: center;
  height: 100%;

  .news {
    display: grid;
    grid-template-columns: repeat(1, auto);
    // grid-template-columns: repeat(2, auto);
    // grid-column-gap: 20em;

    .newsTitle {
      grid-column: 1/-1;
    }

    .newsTiles {
      display: grid;

      .newsFilter {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 1em;
        width: 100em;
        height: 5em;
        border-radius: 0.5em;
        background-color: #25262b;

        .newsKeywords {
          width: 40em;
        }
      }

      .newsGrid {
        margin: 1.25em 0;

        div {
          background-color: #25262b;
          height: 18em;
          border-radius: 0.5em;
        }
      }

      .newsPagination {
        padding: 1em;
        width: 100em;
        height: 5em;
        border-radius: 0.5em;
        background-color: #25262b;
      }
    }
  }
}
