.barButton {
    margin-top: 80px;
    margin-left: 80px;
    height: 4rem;
    width: 70rem;
    background-color: white;
    border-radius: 50px;
}

.recentButon {
    display: grid;
    align-items: center;
    background-color: #A2E4B8;
    border-radius: 20px;
}